<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmpresaServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.proyecto.bolsaempleo.controller.EmpresaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OferenteServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.proyecto.bolsaempleo.controller.OferenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.proyecto.bolsaempleo.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuestoServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.proyecto.bolsaempleo.controller.PuestoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>cr.ac.una.prograiv.proyecto.bolsaempleo.controller.ControllerLogin</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>cr.ac.una.prograiv.proyecto.bolsaempleo.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.proyecto.bolsaempleo.controller.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCategoriaServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.proyecto.bolsaempleo.controller.SubCategoriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/vistas/CategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCategoriaServlet</servlet-name>
        <url-pattern>/vistas/SubCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaServlet</servlet-name>
        <url-pattern>/vistas/EmpresaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OferenteServlet</servlet-name>
        <url-pattern>/vistas/OferenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuestoServlet</servlet-name>
        <url-pattern>/vistas/PuestoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/ControllerLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
