/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-may-2018, 21:42:27
    Author     : patei
*/
#usuario{
    display: none;
}
.formPuesto,.tablas{
    display: none;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}
#ingresarSubCategoria{
    display: none;
}
#titulo{
    color: white;
}
